.titulo{
    color: red;
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    font-weight: bold;
}

.subtitulo{
    margin-left: 20px;
}

.margen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 30px;
    margin: 30px;
}

.ticket {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
    /* animation: cambioColor 1s infinite;  Cambia el valor de '4s' según lo que prefieras */
}



.subtitulo {
    color: #333;
    margin-top: 10px;
}

.producto {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.producto img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.producto h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.producto p {
    margin: 5px 0;
    font-size: 14px;
    color: #777;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

/* @keyframes cambioColor {
    0% {
        background: linear-gradient(45deg, #eeeeee, #eaeaea, #ebebeb);
    }
    25% {
        background: linear-gradient(45deg, #eaeaea, #ebebeb, #ececec);
    }
    50% {
        background: linear-gradient(45deg, #ebebeb, #ececec, #ededed);
    }
    75% {
        background: linear-gradient(45deg, #ececec, #ebebeb, #eaeaea);
    }
    100% {
        background: linear-gradient(45deg, #ebebeb, #eaeaea, #eeeeee);
    }
} */

